<%= form_for @photo, :html => {:multipart => true} do |f| %>

  <% if @photo.errors.any? %>
    <div id="error_explanation">
    	<!-- error handling -->
    </div>
	<% end %>
    <div class="field">
		  <%= f.label :url %><br>
		  <%= f.file_field :url %>
		</div>
		<div class="field">
		  <%= f.label :alt %><br>
		  <%= f.text_field :alt %>
		</div>
		<div class="field">
		  <%= f.label :text %><br>
		  <%= f.text_field :text %>
		</div>

		<%= f.submit %>

<% end %>
